{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "overrides": [
      {
          "files": "*.pug",
          "options": {
              "parser": "pug",
              "singleQuote": false
          }
      }
  ],
  "printWidth": 100
}