$primary: #09BDED;
$primaryLight: #6EDDF9;
$primaryDark: #0799C0;
$black: #293241;
$black80: #293241CC;
$black50: #29324180;
$black20: #29324133;
$white: #FAF9F9;
$white80: #FAF9F9CC;
$white50: #FAF9F980;
$white20: #FAF9F933;
$grey: #E6E6EA;
$greyLight: #F4F4F8;
$greyDark: #CED4DA;
$greyDarken: #9498A0;
$succes: #64C926;
$error: #FF423F;
$warning: #FFE521;