@font-face {
  font-family: "GothamMedium";
  src: url("/fonts/gotham-medium.woff") format('woff');
}
@font-face {
  font-family: "GothamBlack";
  src: url("/fonts/gotham-black.woff") format('woff');
}
@font-face {
  font-family: "GothamBold";
  src: url("/fonts/gotham-bold.woff") format('woff');
}