@mixin mobile {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1100px) {
    @content;
  }
}