// CORE
@import './core/reset.scss';
@import './core/fonts.scss';
@import './core/colors.scss';
@import './variables.scss';
@import './mixins.scss';


.v-stepper__step__step {
  border-radius: 6px;
}

.v-badge__badge {
  left: calc(100% - 16px) !important;
  top: calc(100% - 16px) !important;
}

.v_stepper {
  background-color: none;
}

.v-chip {
  white-space: normal;
  text-align: center;
}

.v-dialog__content {
  position: absolute;
}

.v-dialog {
  overflow: hidden;
}