@import '~vuetify/src/styles/styles.sass';



$material-dark : (
  'background': #293241,
  'chips': #293241,
  'tweet': #15202B,
  'modal': #F4F4F8,
  'bg-color': #293241
);

$material-light : (
  'background': #FAF9F9,
  'chips': #FAF9F9,
  'tweet': #FFFFFF,
  'modal': #545B67,
  'bg-color': #FAF9F9
);

$icon-sizes : (
  'x-small': (
    'font-size': 10,
    'height': 16
  ),
  'small': (
    'font-size': 12,
    'height': 24
  ),
  'default': (
    'font-size': 14,
    'height': 32
  ),
  'large': (
    'font-size': 20,
    'height': 56
  ),
  'x-large': (
    'font-size': 18,
    'height': 66
  )
);

$icon-outlined-border-width : 2px;
// $stepper-step-step-width: 50px;
$stepper-step-step-min-width: 50px;
$stepper-step-step-height: 6px;
$stepper-step-step-font-size: 0px;
$stepper-step-padding: 0px;